/* Elimina bordes, márgenes y scroll */
html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

/* El canvas ocupará toda la pantalla sin dejar espacios */
canvas {
  display: block;
}
